@import "../../styles/app.scss";

.add__wrap {
  width: 100%;
  display: flex;
  align-items: center;
  padding: $padding-all;
  color: $g_blue;
  font-weight: 500;
  border-radius: 50px;

  .add__icon {
    width: 10%;
    svg {
      flex: 1 1 0;
      width: calc(2px + $check_w-h);
      height: calc(2px + $check_w-h);
    }
    &:last-of-type {
      border-radius: $check_w-h;
      color: $g_grey;
      @include center-all;
      &:hover {
        background-color: $g_grey--check-hover;
      }
    }
  }
  span {
    width: 70%;
    margin-left: calc(2px + $check_w-h);
  }
  &:hover {
    background-color: $g_grey--bg-hover;
  }
}
