@import "../../styles/app.scss";
.single__check {
    width: $check_w-h;
    height: $check_w-h;
    border-radius: $check_w-h;
    border: 2px solid $g_grey;

    @include center-all;

    svg {
      opacity: 0;
      color: $g_blue;
    }
    &:hover {
      // transition: 0.1;
      transform: scale(1.4);
      border: 2px solid transparent;
      background-color: $g_grey--check-hover;

      svg {
        width: calc($check_w-h - 3px);
        height: calc($check_w-h - 3px);
        opacity: 1;
      }
    }
  }