.all__wrap {
  height: 100%;
  width: 100%;
  padding: $padding-all;
  padding-top: 0px;

  .all__tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $padding-all;
    padding-left: $padding-all - 5px; //5px are the border size
    padding-right: 0px; //5px are the border size
    padding-top: 0px; //5px are the border size


    height: 100%;
    h3 {
      text-indent: 5%;
      text-transform: uppercase;
      color: $g_grey;
      font-size: 11px;
    }
  }
}
