@import "../../styles/app.scss";

.single__wrap {
  width: 100%;
  display: flex;
  padding: $padding-all * 2;
  border: 5px solid transparent;
  .single__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  & > svg {
    cursor: move;
  }
  &:hover {
    background-color: $g_grey--bg-hover;
  }
  &:active {
    transform: rotate(5deg);
    transition: 0.2s;
  }
  .single__main {
    display: flex;
    width: 100%;
    position: relative;
    .single__task-text {
      position: absolute;
      left: calc($check_w-h + 20px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - calc($check_w-h + 20px));
    }
  }
  .task__link,
  .task__duetime {
    margin-left: 38px;
    border: 1px solid $g_grey--border-light;
    color: $g_grey !important;
    &,
    a {
      color: inherit;
      font-size: small;
      border-radius: 20px;
      width: fit-content;
      padding: {
        left: 8px;
        right: 8px;
        top: 3px;
        bottom: 3px;
      }
    }
    &:hover {
      background-color: $g_grey--btn-hover;
    }
    
  }
}

.single__wrap--dragging {
  opacity: .4;
  transform: rotate(5deg);
  transition: 0.2s;

}

.single__wrap--over {
  filter: blur(1px);
  transition: 0.1s;
  border: 5px dashed $g_grey--border-light;
}
