.single__wrap {
  width: 100%;
  display: flex;
  padding: {
    top: $padding-all;
    bottom: $padding-all;
    left: 0px;
    right: $padding-all;
  }

  border: 5px solid transparent;
  .single__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  & > svg {
    cursor: move;
  }
  &:hover {
    background-color: $g_grey--bg-hover;
  }

  .single__main {
    display: flex;
    width: 100%;
    position: relative;
    font-size: 14px;
    gap: 22px;
    .single__task-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - calc($check_w-h + 20px));
      &:disabled {
        background-color: transparent;
        border: none;
      }
    }
  }
  .task__link,
  .task__duetime {
    margin-top: 5px;
    margin-left: 38px;
    border: 1px solid $g_grey--border-light;
    color: $g_grey;
    font-size: 12px;
    font-weight: bold;
    &,
    a {
      // color: inherit;
      border-radius: 20px;
      width: fit-content;
      padding: {
        left: 8px;
        right: 8px;
        top: 3px;
        bottom: 3px;
      }
    }
    &:hover {
      background-color: $g_grey--btn-hover;
    }
  }
}

.single__wrap--dragging {
  opacity: 0.4;
  transition: 0.2s;
}

.task__date--expired {
  color: red !important;
}

.single__wrap--over {
  filter: blur(1px);
  transition: 0.1s;
  border: 5px dashed $g_grey--border-light;
}

.task--checked {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease;
}
